.introductionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 120px 240px;
}

.introductionText {
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .introductionContainer {
    padding: 60px 24px;
    gap: 60px;
  }
}
