.productContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px;
  margin-top: 60px;
}

.productInfoContainer {
  display: flex;
  gap: 36px;
  align-items: center;
}

.productCarousel {
  display: flex;
  justify-content: center;
  width: 50%;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}

.productDetails h3 {
  font-size: 3em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.description {
  font-size: 1.1em;
  font-family: inter, sans-serif;
  font-weight: 400;
}

.detail {
  display: flex;
  gap: 16px;
}

.detail p,
.notes {
  font-size: 1em;
  font-family: inter, sans-serif;
  font-weight: 500;
  color: hsl(0, 0%, 30%);
}

.notes {
  margin-bottom: 16px;
}

.price {
  font-family: inter;
  font-size: 1.3em;
  font-weight: 600;
}

.productStoryHeader {
  font-family: inter, sans-serif;
  font-size: 1.2em;
  margin-bottom: 24px;
}

.productStoryContainer {
  display: flex;
  align-items: center;
  gap: 36px;
}

.productStory {
  width: 50%;
}

.storyImage {
  display: flex;
  justify-content: center;
  width: 50%;
}

.story {
  font-size: 1.3em;
  font-family: inter, sans-serif;
  font-weight: 500;
  line-height: 1.4em;
}

.image {
  height: 450px;
}

.recommendationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 60px;
}

.recommendedHeader {
  font-size: 1.2em;
  font-family: inter;
}

.recommended {
  display: flex;
  gap: 40px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .productContainer {
    padding: 24px;
  }

  .productInfoContainer {
    flex-direction: column;
    align-items: center;
  }

  .productCarousel,
  .productDetails {
    width: 100%;
  }

  .productStoryContainer {
    flex-direction: column;
  }

  .productStory,
  .storyImage {
    width: 100%;
  }

  .image {
    width: 350px;
    height: auto;
  }

  .story {
    font-size: 1.1em;
  }
}
