.heroContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/Images/about-hero.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.heroText {
  font-size: 3em;
  font-family: "Playfair Display", serif;
  color: white;
  z-index: 2;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .heroContainer {
    height: 90vh;
    background-position: center;
  }
}
