.cartAction {
  display: flex;
  align-items: center;
  gap: 16px;
}

.counter {
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  overflow: hidden;
}

.counterBtn {
  font-family: inter;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background: transparent;
  color: #ccc;
}

.counterBtn:hover {
  color: #000;
}

.count {
  font-family: inter;
  padding: 0 12px;
  min-width: 24px;
  text-align: center;
  font-weight: 500;
}

.addBtn {
  font-family: inter;
  padding: 9px 16px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

.addBtn:hover {
  background: hsl(0, 0%, 30%);
}
