.ctaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  background-color: #e0e0e0;
  text-align: center;
  gap: 24px;
}

.heading {
  font-size: 2em;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #d4a737;
}

.subHeading {
  font-size: 1.2em;
  font-family: inter, sans-serif;
  font-weight: 400;
  color: #00000;
  max-width: 700px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.form {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.inputWithIcon {
  position: relative;
}

.form input {
  padding: 12px 16px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon {
  font-size: 1.2em;
  color: hsl(0, 0%, 50%);
  position: absolute;
  left: 8px;
  top: 13px;
}

.form button {
  display: flex;
  gap: 8px;
  padding: 12px 16px;
  font-size: 1em;
  background-color: #d4a737;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendIcon {
  rotate: 315deg;
}

.form button:hover {
  background-color: #b38e2c;
}

.disclaimer {
  font-size: 0.8em;
  font-family: inter, sans-serif;
  color: #666;
  max-width: 400px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .ctaContainer {
    padding: 40px 16px;
    gap: 16px;
  }

  .heading {
    font-size: 1.5em;
  }

  .subHeading {
    font-size: 1em;
    max-width: 90%;
  }

  .form {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }

  .form input {
    width: 100%;
  }

  .form button {
    width: 100%;
    justify-content: center;
  }
}
